
<div class="text_center">
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> interdit l'enregistrement de ce message:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %> <br>
    <%= form.text_field :title %>
  </div>

  <div class="field mt-3">
    <%= form.label :note %> <br>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "Créer une note", class:"btn btn-warning btn-lg mt-3 mb-3 d-flex justify-content-center button_center mx-auto" %>
  </div>
<% end %>
</div>

