<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Titre</th>
      <th>note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
          <td><% if post.user == current_user %></td>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= link_to 'Détails', post %></td>
          <td><%= link_to 'Modifier', edit_post_path(post) %></td>
          <td><%= link_to 'Supprimer', post, method: :delete, data: { confirm: 'êtes-vous sûr ?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter une note', new_post_path, class:"btn btn-warning mt-3 btn-lg" %>
