<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Contenu de la note:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Modifier', edit_post_path(@post) %> |
<%= link_to 'Retour', posts_path %>

